# Created by .ignore support plugin (hsz.mobi)
# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.js.map

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
out/
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# nodejs libs
node_modules/
dist/
report/
logs/

#rebel
*rebel.xml*